
 
.aside-Btn{
    border: none;
    padding: 1rem;
    align-self: center;
    cursor: pointer;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.aside-Btn:hover{
    background-color: var(--primary-color-hover);
    border-radius: 0 10px 10px 0;
}
.home-link{
    color: var(--secondary-color);
}


