
.notecard-Container{
   width: 21rem;
   border: 1px solid var(--border-color);
   border-radius: 10px;
   background-color: var(--offwhite);
   box-shadow: 1px 1px 1px 1px var(--boxShadow-color);
}
.notecard-header{
   justify-content: space-between;
}
.notecard-btn{
   background-color: var(--offwhite);
   border: none;
   cursor: pointer;
   color: var(--primary-color-hover);
}
.notecard-footer{
 justify-content: space-between;
}
.noteCard-tag{
   background-color: var(--primary-color-hover);
     color: var(--offwhite);
     border-radius: 7px;
}
.priority-Tag{
   background-color: var(--primary-color-hover);
     color: var(--offwhite);
     border-radius: 7px;
     max-width: fit-content;
}